LOCAL_PATH := $(call my-dir)

include $(CLEAR_VARS)
#LOCAL_MODULE             := HerSettings2
LOCAL_MODULE_CLASS       := APPS
LOCAL_MODULE_TAGS        := optional
LOCAL_CERTIFICATE        := platform
LOCAL_MULTILIB           := 32
LOCAL_ARM_MODE           := arm
#LOCAL_SRC_FILES          := ./app/build/outputs/apk/app-release-unsigned.apk
LOCAL_PRIVILEGED_MODULE  := true
LOCAL_MODULE_PATH := $(TARGET_OUT)/priv-app
include $(BUILD_PREBUILT)
